{{template "base" .}}
{{define "content"}}
        <h1>This is the <b>Home Page</b></h1>
        <p><strong>If you are using VS&nbsp;Code...</strong></p><p>If you are using Visual Studio Code, as you work your way through the next lecture you'll see that VS Code gives you a warning. Just follow along -- I&nbsp;am deliberately introducing an "import cycle"&nbsp;error in this lecture, just so you'll realize what it is, and how to fix it.</p><p>Visual Studio Code is smart enough to recognize the problem, while GoLand (for reasons I'll never understand)&nbsp;is not yet smart enough to do so.</p>
        <script src="" async defer></script>
{{end}}